<table id="grid-data" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-column-id="Id" data-type="numeric">ID</th>
        <th data-column-id="Name">Name</th>
        <th data-column-id="Group" data-order="desc">Group</th>
        <th data-column-id="link" data-formatter="link" data-sortable="false">Link</th>
    </tr>
    </thead>
</table>